/*!***************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/common.scss ***!
  \***************************************************************************************************************/
body {
  background-color: rgb(170, 243, 192);
  color: blueviolet;
  font-size: 48px;
}
/*!***************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/button.scss ***!
  \***************************************************************************************************************/
button {
  background-color: red;
}
